body {
    color:white;
    background-color:black;
}
h1 {color: white; font-family: 'Merriweather', serif;
    font-family: 'Tenali Ramakrishna', sans-serif;}
h2 {color: white; font-family: 'Merriweather', serif;
    font-family: 'Tenali Ramakrishna', sans-serif;}
     