body {
    color:white; font-family: 'Merriweather', serif;
    font-family: 'Tenali Ramakrishna', sans-serif;
    background-color:black;
}
h1 {color: white; font-family: 'Merriweather', serif;
    font-family: 'Tenali Ramakrishna', sans-serif;}
h2 {color: white; font-family: 'Merriweather', serif;
    font-family: 'Tenali Ramakrishna', sans-serif;}
     
nav {background-color: black;}

nav a {color:white}
nav{color:white}

nav a:hover {background-color: pink;}
